#hero{
    min-height: 90rem;
    height: 100vh;
    max-height: 120rem;
    
    @media only screen and (max-width: 500px) {
        max-height: auto;
        height: auto;
        min-height: 84rem;
    }
    
    & .container{
        height: 100%;
        position: relative;

        & .hero-img{
            position: absolute;
            top: 0;
            right: -45rem;
            z-index: -1;

            @media only screen and (max-width: 1000px) {
                opacity: .1;
                width: 670px;
                right: -20rem;
            }
        }
    } 

    & .hero-content{
        max-width: 70rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: flex-start;

        & h1{
            @media only screen and (max-width: 500px) {
                margin-top: 15rem;
                font-size: 4rem;
            }
        }

        & > *{
            margin: 2rem 0;
        }

        & p{
            color: #ABADBF;
            font-size: 1.6rem;
        }

        & .hero-btns{
            display: flex;

            @media only screen and (max-width: 500px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
