#cards{
    padding: 10rem 0;

    .container{
        text-align: center;

        & > h2{
            margin: 0 0 8rem;
        }

        .cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6rem;

            @media only screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (max-width: 500px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                border-radius: 1em;
                background: #05080F;
                padding-bottom: 4rem;
                transition: transform .25s, box-shadow .25s;

                &:hover{
                    transform: scale(0.95);
                    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: .5);
                }

                .img-wrapper{
                    max-height: 25rem;
                    overflow: hidden;

                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .card-heading{
                    color: #fff;
                    font-size: 1.8rem;
                    line-height: 1.5;
                    font-family: 'Archivo Black', sans-serif;
                    margin-top: 4rem;
                    margin-bottom: 1rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    padding: 0 3rem;
                }

                .card-body{
                    color: #fff;
                    font-size: 1.6rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    padding: 0 3rem;
                }

                // &.card1{
                //     background: url(../../assets/box-1.webp);
                //     background-size: cover;
                // }
                // &.card2{
                //     background: url(../../assets/box-2.webp);
                //     background-size: cover;
                // }
                // &.card3{
                //     background: url(../../assets/box-3.webp);
                //     background-size: cover;
                // }
                // &.card4{
                //     background: url(../../assets/box-4.webp);
                //     background-size: cover;
                // }
            }
        }
    }
}