// #scroll-progress {
//     position: fixed;
//     top: 0;
//     width: 0%;
//     height: 4px;
//     background: linear-gradient(to right, $color-primary, $color-secondary);
//     z-index: 1000;
// }

.nav-header{
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 14rem;
    transition: background .3s ease, box-shadow .3s ease, height .3s ease;

    & .hamburger{
        display: none;

        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 40px;
            min-width: 40px;
            cursor: pointer;
            z-index: 999;
        }

        &.active{

            & span:nth-of-type(1){
                transform-origin:bottom;
                transform:rotatez(-45deg) translate(-6px,.5px)
            }

            & span:nth-of-type(2){
                transform-origin:top;
                transform:rotatez(45deg)
            }

            & span:nth-of-type(3){
                transform-origin:bottom;
                width:50%;
                transform: translate(-18.5px,-7px) rotatez(-45deg);
            }
        }

        & span{
            background: #fff;
            border-radius:100px;
            height:5px;
            margin: 4px 0;
            // transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
            transition: .2s  ease-out;
        }
        & span:nth-of-type(1){
            width:50%;
        }
        & span:nth-of-type(2){
            width:100%;
        }
        & span:nth-of-type(3){
            width:75%;
        }
    }

    & .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    & .nav-logo{
        width: 70%;

        @media only screen and (max-width: 768px) {
            width: 50%;
        }
    }

    & .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 57%;

        @media only screen and (max-width:768px){
            flex-direction: column;
            align-items: flex-start;
            top: 0;
            left: 100%;
            bottom: 0;
            right: 0;
            width: 100%;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--secondary-color);
            background-size: cover;
            background-position: center;
            transition: left .4s ease;

            &.active{
                left: 0;
            }

            &>*:not(:last-child){
                margin-bottom: 5rem;
            }
        }

        & li a{
            display: inline-block;
            font-size: 1.6rem;
            color: #fff;
            font-weight: 400;
            letter-spacing: 1px;
            transition: color .3s ease;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;

            @media only screen and (max-width:768px){
                font-size: 3rem;
            }
        }

        & .underline{
            position: relative;
        }

        & .underline:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: -3px;
            left: 0;
            background-color: #fff;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          
          & .underline:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

    &.active{
        background: #1e2131;
        box-shadow: 0 2px 2rem rgba($color: #000000, $alpha: .5);
        height: 10rem;
    }
}