.mint-btn{
    background: var(--secondary-color);
    font-size: 1.6rem;
    color: #fff;
    padding: 2.3rem 5rem;
    position: relative;
    transition: background .3s ease;
    font-weight: 700!important;
    
    &:hover{
        background: #020308;
    }

    &:hover::before,
    &:hover::after{
        width: 3rem;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        aspect-ratio: 1 / 1;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transition: width .3s ease;
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2rem;
        aspect-ratio: 1 / 1;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        transition: width .3s ease;
    }
}