footer{
    background: #05080F;
    padding: 3rem 0;

    & .container{
        text-align: center;

        & .bold{
            font-family: 'Archivo Black', sans-serif;
            font-size: 2.2rem;
            color: #fff;
            margin: 1rem 0;
        }

        & .copy{
            font-size: 1.4rem;
            color: #ABADBF;
        }
    }
}