.container{
    padding: 0 4rem;
    max-width: 138rem;
    margin: 0 auto;
}

.btn,
.btn-nav a{
    background: #040610;
    font-size: 1.6rem;
    color: #fff;
    padding: 2.3rem 5rem;
    position: relative;
    transition: background .3s ease;
    
    &:hover{
        background: #020308;
    }

    &:hover::before,
    &:hover::after{
        width: 3rem;
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        aspect-ratio: 1 / 1;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transition: width .3s ease;
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2rem;
        aspect-ratio: 1 / 1;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        transition: width .3s ease;
    }
}

h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 4.6rem;
    color: #fff;
}

h2{
}

h3{
}

h4{
}