.eth-btn{
    background: linear-gradient(90deg, #2DC4CE, #435CFE 51%, #2DC4CE) var(--x, 0)/ 200%;
    margin-left: 2rem;
    padding: 0 2.2rem;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    transition: background .4s ease;

    & img{
        margin-left: 1.3rem;
    }

    &:hover{
        --x: 100%;
    }
}