#benefits{
    background: url(../../assets/grid-background.png);
    margin-top: -13rem;
    padding-top: 20rem;
    padding-bottom: 10rem;

    & .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .benefits-content{

            & h2{
                margin-bottom: 3rem;
            }

            & .benefits-list{
                margin-bottom: 4rem;

                & li{
                    display: flex;
                    align-items: center;
                    color: #ABADBF;
                    font-size: 1.4rem;

                    & img{
                        margin-right: 2rem;
                    }

                    &:not(:last-child){
                        margin-bottom: 2rem;
                    }
                }
            }

            & .benefeits-btns{
                display: flex;
            }
        }
    }
}